[submodule "infrastructure/cloud/ansible-playbook/roles/geerlingguy.docker"]
	path = infrastructure/cloud/ansible-playbook/roles/geerlingguy.docker
	url = https://github.com/geerlingguy/ansible-role-docker.git
