version: "3.8"

services:
  web:
    image: "ghcr.io/ndy40/church_cms:{{app_version}}"
    restart: always
    volumes:
      - static_volume:/opt/app/static
    env_file:
      - .env
    networks:
      - http_network
      - mailnetwork

  nginx:
    image: "ghcr.io/ndy40/church_cms-nginx:{{app_version}}"
    restart: always
    build:
      context: .
      target: "webserver"
    volumes:
      - static_volume:/opt/app/static
      - /etc/letsencrypt:/etc/letsencrypt
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - web
    networks:
      - http_network

  mailhog:
    image: mailhog/mailhog:v1.0.1
    restart: unless-stopped
    environment:
      MH_AUTH_FILE: "/opt/auth.txt"
    volumes:
      - /opt/church_cms/auth.txt:/opt/auth.txt
    ports:
      - 1025 # smtp server
      - 8025:8025 # web ui
    networks:
      - mailnetwork

networks:
  http_network:
  mailnetwork:

volumes:
  static_volume:
